.weather-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-card {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }